<div class="antialiased bg-[#f1f3f8] min-h-screen">
  <!-- Topbar -->
  <app-topbar (toggleSidebar)="toggleSidebar()"></app-topbar>

  <!-- Sidebar -->
  <app-sidebar 
    [isOpen]="isSidebarOpen()" 
    (closeSidebar)="closeSidebar()"
  ></app-sidebar>

  <!-- Main Content -->
  <main class="p-4 md:ml-64 h-auto pt-20">
    <router-outlet />
  </main>

  <!-- Backdrop for mobile -->
  @if (isSidebarOpen()) {
    <div 
      class="fixed inset-0 z-30 bg-gray-900/50 dark:bg-gray-900/80 md:hidden"
      (click)="closeSidebar()"
    ></div>
  }
</div>
